# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment and dependency files
env/
*.env
*.log

datasets/
models/_pretrained_weights/
models/models/MemFlow/ckpts
experiment_data/
mlruns/